<ion-header>
  <ion-toolbar color="success">
  <ion-title>
       {{pageCategory}}
  </ion-title>
  <ion-icon slot="end" name="arrow-round-back" [routerLink]="'/categories'" padding></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="app-backdrop">
    <ion-card *ngFor="let article of articles" class="content-back">
      <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
      <ion-img src="{{article.urlToImage}}" class="url-img" alt="{{article.title}}"></ion-img>
      
      <ion-card-content>
          <ion-card-header>
              <h2><a href="{{article.url}}" target="_blank">{{article.title}}</a></h2>
            </ion-card-header>
        <h3>
          {{article.description}}
        </h3>
        <h5 *ngIf="article.author === null; else elseBlock" class="subtitles">Published by - Anonymous</h5>
         <ng-template #elseBlock><h5 class="subtitles">Published by - {{article.author}}</h5></ng-template>
         <p class="subtitles">{{article.publishedAt | date}}</p>
        <ion-button ion-button fill="outline" large color="success" href="{{article.url}}" target="_blank" class="story-button">Get full story</ion-button>
        </ion-card-content>
    </ion-card>
    
</ion-content>

