<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="about-content">
  <h2>Now Newz is a collection of the latest news stories from around the web</h2>
  <p>We gather news from various sources and intercontinental media outlets. You simply click on a story and immediately get transported to the original source in a new browser tab</p>

  <img src="../../assets/icons/news-192x192.png" alt="app logo"/>

  <form>
    <h3>Contact Us</h3>
    <ion-input type="email" placeholder="you@email-address.com"></ion-input>
    <ion-item>
      <ion-textarea placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-button color="success">Send</ion-button>
  </form>
  </ion-card>
</ion-content>
